# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.mynlp/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (لو عايزة تتجنبي رفع الداتا الكبيرة)
*.csv
*.tsv
*.pkl
*.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
